<strong class="bg-dark text-white p-2" >Tarjeta de presentacion</strong>
      <div class="card text-center my-4 border-0 shadow" style="width: 25rem;">
        <div class="card-body my-2 fs-5">
            <div class=" border-0 my-2">
                <img [src]="imgProgramador" class="img-fluid rounded-circle imgProg bg-warning" alt=" Foto Programador">
            </div>
            <p class="font-monospace my-3"><span class="fw-bold">Nombre:</span> {{nombre}}</p>
            <p class="font-monospace my-3"><span class="fw-bold">Biografia:</span> {{bio}}</p>
            <blockquote class="lead fs-6">{{frase}}</blockquote>
        </div>
    </div>          
 
  

