
<form>
  <div class="card-toolbar d-flex justify-content-between">
    <div class="input-group input-group-lg w-25 ms-4 mb-5 mt-5 me-5">
      <span class="input-group-text" >🔍</span>
      <input type="text" class="form-control" placeholder="Buscador por nombres..."  (keyup)="filter()" name="filter" [(ngModel)]="filtradoInput">
      <button class="btn btn-success" data-bs-target="#addTarjet" data-bs-toggle="modal" data-bs-dismiss="modal">Nuevo Perfil</button>
    </div>
    <button class="btn btn-dark btn-lg float-end me-5" (click)="changeType()"> {{ dataShow =="gridType" ? "📇 Modo Card":"📃 Modo Grid"}}</button>
  </div>      
</form>

<div class="container-fluid" *ngIf="dataShow == 'gridType'; else cardType" >

<table class="table table-hover ">
<thead>
    <tr>
      <th>No.</th>
      <th>id</th>
      <th class="text-center">Imagen</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Profesión</th>
      <th>Dirección</th>
      <th class="text-center">Acción</th>
    </tr>
</thead>
<tbody>
  <tr *ngFor="let perfil of perfilesCopy; let i = index">
    <td class="align-middle">{{i+1}}</td>
    <td class="align-middle">{{perfil.id}}</td>
    <td class="text-center"><img class="rounded-circle img-grid" src="{{perfil.image_avatar}}"></td>
    <td  class="align-middle">{{perfil.first_name}}</td>
    <td  class="align-middle">{{perfil.last_name}}</td>
    <td  class="align-middle">{{perfil.job}}</td>
    <td  class="align-middle">{{perfil.street_addres}}</td>
    <td  class="align-middle text-center">
      <button class="btn btn-danger" (click)="deleteCardGrid(i)">🗑️ Eliminar</button>
    </td>
  </tr>
</tbody>
</table>
</div>

<ng-template #cardType>
  <div class="d-flex flex-wrap justify-content-around container-fluid  ">
    <app-cards-template
    *ngFor="let perfil of perfilesCopy let i = index"
    [id]="perfil.id"
    [image_avatar]="perfil.image_avatar"
    [first_name]="perfil.first_name"
    [last_name]="perfil.last_name"
    [job]="perfil.job"
    [street_addres]="perfil.street_addres"
    (idperfil)="deleteCard($event)"
    >
    </app-cards-template>
  </div>
</ng-template>

<div class="modal fade" id="addTarjet" aria-hidden="true" aria-labelledby="addTarjet" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header bg-dark text-white">
          <h5 class="modal-title " id="addTarjet">Agregar Perfil</h5>
          <button type="button" class="btn-close bg-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form>
                <div class="mb-3">
                  <label  class="form-label">Nombres*</label>
                  <input type="text" class="form-control" name="first_name" [(ngModel)]="first_name" required >
                </div>
                <div class="mb-3">
                    <label  class="form-label">Apellidos*</label>
                    <input type="text" class="form-control" name="last_name" [(ngModel)]="last_name" required>
                  </div>
                  <div class="mb-3">
                    <label  class="form-label">Profesión*</label>
                    <input type="text" class="form-control" name="job" [(ngModel)]="job" required>
                  </div>
                  <div class="mb-3">
                    <label  class="form-label">Dirección*</label>
                    <input type="text" class="form-control" name="street_addres" [(ngModel)]="street_addres" required>
                  </div>
                <button type="submit" class="btn btn-success" data-bs-dismiss="modal" [disabled]="!first_name || !last_name || !job || !street_addres" (click)="addTarjet() ">Agregar</button>
              </form>
        </div>
      </div>
    </div>
  </div>