

<div class="container-fluid">
  <div class="d-flex justify-content-center">
    <strong class="bg-dark text-white p-3 my-5 d-block w-25 text-center fs-4">EJERCICIOS PRACTICOS ANGULAR</strong>
  </div>
 
  <div class="row mt-5">
    <strong class="bg-dark text-white p-3 mb-5">Ejercicio (1) Tarjeta de Presentacion</strong>
    <div class="col-12 col-md-6  d-flex justify-content-center ">
        <app-tarjeta-presentacion 
          nombre="Jean Cornelio"
          bio="Nació el 4 de Octubre de 1997"
          frase="El talento que se crea con esfuerzo derrota al talento natural."
        ></app-tarjeta-presentacion>
    </div>
    <div class="col-12 col-md-6 my-2">
      <div class="htmlFather">
        <strong class="bg-dark text-white p-2">HTML COMPONENTE PADRE</strong>
        <pre>
          <code [highlight]="htmlFather"></code>
        </pre>
      </div>

      <div class="htmlSon">
        <strong class="bg-dark text-white p-2" >HTML COMPONENTE HIJO</strong>
        <pre>
          <code [highlight]="htmlSon"></code>
        </pre>
      </div>
      <div class="TS">
        <strong class="bg-dark text-white p-2" >TS</strong>
        <pre>
          <code [highlight]="codeTs"></code>
        </pre>
      </div>
      <div class="CSS">
        <strong class="bg-dark text-white p-2" >CSS</strong>
        <pre>
          <code [highlight]="css"></code>
        </pre>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="row">
    <strong class="bg-dark text-white p-3 mb-5">Ejercicio (2) Tarjetas de Presentacion</strong>
  </div>
 
  <app-cards></app-cards>
</div>

